<div class="flex-row-container" style="padding:5%">

  <!--Inventory Table-->
  <div class="flex-row-item">
    <table
      mat-table
      matSort
      [dataSource]="inventoryDataSource"
      #InventorySort="matSort"
      class="mat-elevation-z8"
      style="width: 100%;"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
        <td mat-cell *matCellDef="let row" (dblclick)="addToCart(row)" (click)="displayImg(row.imgname)">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price ($)</th>
        <td mat-cell *matCellDef="let row">{{ row.price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #InventoryPaginator="matPaginator"
      [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10, 20, 100]"
    ></mat-paginator>
    
    <div *ngIf="imgSrc.length>0">
      <img width="200px" height="auto" src={{imgSrc}}>
    </div>
  </div>

  <!-- Cart Table -->
  <div class="flex-row-item" *ngIf="cart.length>0">
    <table
      mat-table
      matSort
      [dataSource]="cartDataSource"
      #CartSort="matSort"
      class="mat-elevation-z8"
      style="width: 100%;"
    >

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cart</th>
        <td mat-cell *matCellDef="let row" (dblclick)="removeFromCart(row.id)" (click)="displayCartImg(row.imgname)">{{ row.name }}</td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCart"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCart"></tr>
    </table>
  
    <mat-paginator
      #CartPaginator="matPaginator"
      [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10, 20, 100]"
    ></mat-paginator>
    <div *ngIf="cartImgSrc.length>0">
        <img width="200px" height="auto" src={{cartImgSrc}}>
    </div>
  </div>

  <!-- Bill Table -->
  <div class="flex-row-item" *ngIf="bill.length>0">
    <table
      mat-table
      matSort
      [dataSource]="billDataSource"
      #BillSort="matSort"
      class="mat-elevation-z8"
      style="width: 100%;"
    >

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Billed Items</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price ($)</th>
        <td mat-cell *matCellDef="let row">{{ row.price }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal ($)</th>
        <td mat-cell *matCellDef="let row">{{ row.total }}</td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumnsBill"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsBill"></tr>
    </table>
  
    <mat-paginator
      #BillPaginator="matPaginator"
      [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10, 20, 100]"
    ></mat-paginator>

    <mat-card align="right">
        <mat-card-title>Total: {{totalBill}} $</mat-card-title>
        <button mat-raised-button style="width: 25%;" color="primary" (click)="pay()">Pay</button> 
        <div *ngIf="paymentInitiated">
          <div>
            <img style="padding-top: 10px;" width="200px" src={{qrcodeSrc}}>
          </div>
          <div>
            <button mat-raised-button (click)="checkout()">Finish</button>
          </div>
        </div> 
    </mat-card>
  </div>
</div>
  