.full-width-table {
  width: 100%;
}
.item-header{
  background-color:#C2E8FF; 
  border-radius: 10px; 
  padding: 20px; 
  color:#323264; 
  text-align: center;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.flex-row-container > .flex-row-item {
  flex: 1 1 30%;
  height: 100px;
}

.flex-row-item {
  text-align: left;
  margin-right: 1%;
}    
@media  screen and (max-width:481px) {
  .flex-row-container > .flex-row-item {
    flex: 100%
  }
}
.selected {
  background-color: lightgrey;
}
::ng-deep .green{
  color: darkgreen;
  background-color: white;
}
::ng-deep .red{
  color: maroon;
  background-color: white;
}