.container {
  width: 100%;
  padding-top: 1%;
}
.container-1{
  padding-left:1%;
  float: left;
  width: 39%;
}

.container-2{
  padding-left: 1%;
  padding-right:1%;
  float: left;
  width: 28%;
}

.container-3{
  padding-right: 1%;
  float: left;
  width: 29%;
}

.full-width-table {
  width: 100%;
}
.mat-tab-group {
  background-color: white;
}

.item-header{
  background-color:#C2E8FF; 
  padding: 20px; 
  color:#323264; 
  text-align: center;
}

.selected {
  background-color: lightgrey;
}
::ng-deep .green{
  color: darkgreen;
  background-color: white;
}
::ng-deep .red{
  color: maroon;
  background-color: white;
}

.discount{
  margin-left: 10px;
  background-color: yellow;
  border-radius: 100%;
  padding: 10px;
}
.left-border-line{
  text-align: center;
  border-left: 1px solid rgba(10, 11, 49, 0.20);
}